/* * {
  padding: 0;
  margin: 0;
} */

/* html {
  font-size: 10px;
} */

body {
  background-color: white;
  background-image: linear-gradient(#269 1px, transparent 0px),
    linear-gradient(90deg, #269 1px, transparent 0px);
  background-size: 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

/* .header {
  height: 95vh;
}

.logo-box {
} */

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 10rem;
}

.navbar-burger {
  margin-left: unset;
}

.navbar-item img {
  max-height: 8rem;
}

.navbar-burger span {
  height: 2px;
}

.navbar-burger span:last-child {
  width: 12.5px;
}

.title span {
  font-size: 4rem;
}

@media only screen and (min-width: 600px) {
  .title span {
    font-size: 5.5rem;
  }

  .navbar-item img {
    max-height: 10rem;
  }

  .logo {
    top: 00%;
  }
}

.bg-light {
  background: rgba(0, 0, 0, 0.1);
}

.card {
  background: rgba(0, 0, 0, 0.05);
}

body {
  font-family: 'Lato', sans-serif;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.navbar {
  padding: 2rem 1rem;
}

.hero-body {
  padding-top: 0rem;
}
